<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('编辑植被覆盖率分析')" />
</head>
<body class="gray-bg">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>编辑植被分析</h5>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m" id="form-vegetation-edit" th:object="${vegetationAnalysis}">
                            <input name="id" th:field="*{id}" type="hidden">
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">图片名称：</label>
                                <div class="col-sm-8">
                                    <input name="imageName" th:field="*{imageName}" class="form-control" type="text" readonly>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">植被覆盖率(%)：</label>
                                <div class="col-sm-8">
                                    <input name="coverageRate" th:field="*{coverageRate}" class="form-control" type="number" step="0.01" min="0" max="100" required>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">绿色像素：</label>
                                <div class="col-sm-8">
                                    <input name="greenPixelCount" th:field="*{greenPixelCount}" class="form-control" type="number" readonly>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">总像素：</label>
                                <div class="col-sm-8">
                                    <input name="totalPixelCount" th:field="*{totalPixelCount}" class="form-control" type="number" readonly>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">设备ID：</label>
                                <div class="col-sm-8">
                                    <input name="deviceId" th:field="*{deviceId}" class="form-control" type="number" readonly>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">分析时间：</label>
                                <div class="col-sm-8">
                                    <input name="analysisTime" th:field="*{analysisTime}" class="form-control" type="text" readonly>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">备注：</label>
                                <div class="col-sm-8">
                                    <textarea name="remark" th:field="*{remark}" class="form-control" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <button type="submit" class="btn btn-primary">保存</button>
                                    <button type="button" class="btn btn-default" onclick="$.modal.close()">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/vegetation";
        
        $("#form-vegetation-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix, $('#form-vegetation-edit').serialize());
            }
        }
    </script>
</body>
</html>